body {
  font-family: Arial, sans-serif;
  padding: 30px;
}
h2 {
  margin-bottom: 20px;
}
.logo {
    height: 75px;
    width: 75px;
    background-color: darkgrey;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 80px; /* jarak antar lingkaran */
        margin-top: 50px;
}
.item {
  text-align: center;
}

.circle {
  width: 140px;
  height: 140px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-bottom: 12px;
}

.item p {
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.form-box {
  width: 350px;
  display: flex;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
}

.form-group label {
  width: 120px;
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  flex: 1;
  padding: 6px;
  border: 1px solid #000;
  font-size: 14px;
}

textarea {
  height: 80px;
  resize: none;
}

.radio-group {
  display: flex;
  gap: 15px;
}

button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #000;
  color: lightgray;
  cursor: pointer;
}

.result-box {
  display: flex;
  width: 420px;
  border: 1px solid #000;
  padding: 15px;
  font-size: 14px;
}
